.contentWrapper {
    width: 92%;
    margin: 0 auto;
}

.min-height {
    height: 77.9vh;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: start;
    margin: 2em 0;
}